.git
.gitignore
.DS_Store

.venv
.pytest_cache
.ruff_cache
__pycache__/
**/__pycache__/
*.pyc

.env
.env.bak
.python-version

data/
storage/
results/
imgs/

web/node_modules/
web/dist/

api/tests/
description.md
